body {
    background-color: black;
}
header {
    background-color: aqua;
    border: 15px solid aqua;
    border-radius: 15px;
    text-align: center;
    font-family: Verdana, sans-serif;
    margin-bottom: 1%;
}

h2 {
    font-family: Verdana, sans-serif;
    text-align: center;
}

.flex-container {
    display: flex;
    background-color: lawngreen;
    border-radius: 15px;
    padding: 5%;
    align-items: center;
    justify-content: center;
    margin-bottom: -5%;
}

img {
    width: 80%;
    height: auto;
    filter: saturate(0);
}

a:hover img {
    filter: saturate(1);
}

.fleximg1 {
    flex-grow: 1;
}

.fleximg2 {
    flex-grow: 1;
    align-self: center;
    width: 33%;
    height: auto;
}

.fleximg3 {
    flex-shrink: 10;
}